<div class="tabs-wrapper">
  <div class="tabs">
    <a href="/" class="tab {% if page.url == '/' %}active{% endif %}">Home</a>
    <a href="/products/" class="tab {% if page.url contains '/products' %}active{% endif %}">Products</a>
    <a href="/company/" class="tab {% if page.url contains '/company' %}active{% endif %}">Company</a>
    <a href="/newsletter/" class="tab {% if page.url contains '/newsletter' %}active{% endif %}">Newsletter</a>
  </div>
</div>
<div class="page-tops">
  <div class="page-top page-top-4">
    <div class="page-top-left"></div>
    <div class="page-top-middle"></div>
    <div class="page-top-right"></div>
  </div>
  <div class="page-top page-top-3">
    <div class="page-top-left"></div>
    <div class="page-top-middle"></div>
    <div class="page-top-right"></div>
  </div>
  <div class="page-top page-top-2">
    <div class="page-top-left"></div>
    <div class="page-top-middle"></div>
    <div class="page-top-right"></div>
  </div>
  <div class="page-top page-top-1">
    <div class="page-top-left"></div>
    <div class="page-top-middle"></div>
    <div class="page-top-right"></div>
  </div>
</div>
