<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>
<!-- SVG Filters -->
<svg style="position: absolute; width: 0; height: 0;">
  <filter id="deboss-noise">
    <feTurbulence type="fractalNoise" baseFrequency="0.8" numOctaves="4" result="noise"/>
    <feDisplacementMap in="SourceGraphic" in2="noise" scale="0.5" xChannelSelector="R" yChannelSelector="G"/>
  </filter>
</svg>
<div class="te-page-stack">
  <div class="te-page te-page-home">
    <a href="/" class="te-tab">Home</a>
    <span class="corner-symbol corner-top-left">{% if page.corner_top_left %}{{ page.corner_top_left }}{% else %}♄{% endif %}</span>
    <span class="corner-symbol corner-top-right">{% if page.corner_top_right %}{{ page.corner_top_right }}{% else %}♃{% endif %}</span>
    <div class="te-container">
      {% if page.url == '/' %}{{ content }}{% endif %}
    </div>
    <span class="corner-symbol corner-bottom-left">{% if page.corner_bottom_left %}{{ page.corner_bottom_left }}{% else %}☉{% endif %}</span>
    <span class="corner-symbol corner-bottom-right">{% if page.corner_bottom_right %}{{ page.corner_bottom_right }}{% else %}☽{% endif %}</span>
  </div>
  <div class="te-page te-page-products">
    <a href="/products/" class="te-tab">Products</a>
    <span class="corner-symbol corner-top-left">{% if page.corner_top_left %}{{ page.corner_top_left }}{% else %}♄{% endif %}</span>
    <span class="corner-symbol corner-top-right">{% if page.corner_top_right %}{{ page.corner_top_right }}{% else %}♃{% endif %}</span>
    <div class="te-container">
      {% if page.url contains '/products' %}{{ content }}{% endif %}
    </div>
    <span class="corner-symbol corner-bottom-left">{% if page.corner_bottom_left %}{{ page.corner_bottom_left }}{% else %}☉{% endif %}</span>
    <span class="corner-symbol corner-bottom-right">{% if page.corner_bottom_right %}{{ page.corner_bottom_right }}{% else %}☽{% endif %}</span>
  </div>
  <div class="te-page te-page-company">
    <a href="/company/" class="te-tab">Company</a>
    <span class="corner-symbol corner-top-left">{% if page.corner_top_left %}{{ page.corner_top_left }}{% else %}♄{% endif %}</span>
    <span class="corner-symbol corner-top-right">{% if page.corner_top_right %}{{ page.corner_top_right }}{% else %}♃{% endif %}</span>
    <div class="te-container">
      {% if page.url contains '/company' %}{{ content }}{% endif %}
    </div>
    <span class="corner-symbol corner-bottom-left">{% if page.corner_bottom_left %}{{ page.corner_bottom_left }}{% else %}☉{% endif %}</span>
    <span class="corner-symbol corner-bottom-right">{% if page.corner_bottom_right %}{{ page.corner_bottom_right }}{% else %}☽{% endif %}</span>
  </div>
  <div class="te-page te-page-newsletter">
    <a href="/newsletter/" class="te-tab">Newsletter</a>
    <span class="corner-symbol corner-top-left">{% if page.corner_top_left %}{{ page.corner_top_left }}{% else %}♄{% endif %}</span>
    <span class="corner-symbol corner-top-right">{% if page.corner_top_right %}{{ page.corner_top_right }}{% else %}♃{% endif %}</span>
    <div class="te-container">
      {% if page.url contains '/newsletter' %}{{ content }}{% endif %}
    </div>
    <span class="corner-symbol corner-bottom-left">{% if page.corner_bottom_left %}{{ page.corner_bottom_left }}{% else %}☉{% endif %}</span>
    <span class="corner-symbol corner-bottom-right">{% if page.corner_bottom_right %}{{ page.corner_bottom_right }}{% else %}☽{% endif %}</span>
  </div>
</div>
<script src="/sprite.js"></script>
<script src="/tab-engine.js"></script>
</body>
</html>
