<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body class="{% if page.url == '/' %}page-home{% elsif page.url contains '/products' %}page-products{% elsif page.url contains '/company' %}page-company{% elsif page.url contains '/newsletter' %}page-newsletter{% endif %}">
{% include nav.html %}
<div class="page-wrapper">
<span class="corner-symbol corner-top-left">{% if page.corner_top_left %}{{ page.corner_top_left }}{% else %}♄{% endif %}</span>
<span class="corner-symbol corner-top-right">{% if page.corner_top_right %}{{ page.corner_top_right }}{% else %}♃{% endif %}</span>
{{ content }}
<span class="corner-symbol corner-bottom-left">{% if page.corner_bottom_left %}{{ page.corner_bottom_left }}{% else %}☉{% endif %}</span>
<span class="corner-symbol corner-bottom-right">{% if page.corner_bottom_right %}{{ page.corner_bottom_right }}{% else %}☽{% endif %}</span>
</div>
<script src="/sprite.js"></script>
</body>
</html>
